
nav {
  background-color: hsl(49deg 100% 56%);
}

:root {
  --my-color: hsl(330deg 83% 65%)
}
#root {
  background-color: hsl(49deg 100% 56%);
}

.colordonus {
  background-color: hsl(330deg 83% 65%) !important;
  color: white !important;
  border-color:  hsl(330deg 83% 65%) !important ;
  
}

.spinner-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



